*.csv
*.pyc
.ipynb_checkpoints
*.pdf

scoupus_api_key.csv

__pychache__
experimentation

remove_entries_with_comma.py
contact_email.txt
lookup_log.txt
*.log
dataset_config.yaml

# Open Alex API cache
openalex_cache.sqlite

# VS Code files
settings.json