# Data
*.csv
*.pyc
.ipynb_checkpoints
*.pdf
# for Open Alex API cache
*.sqlite  

# logs
*.log

# config and settings
dataset_config.yaml
contact_email.txt
dimensions_api_key.txt
scoupus_api_key.csv

# VS Code & dev files
settings.json
__pychache__

# folder with some tests to keep locally
experimentation
